* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: auto;
  padding: 20px 0;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #575757;
  cursor: pointer;
}

.button {
  padding: 10px 25px;
  background-color: #1d4ed8;
  color: aliceblue;
  border-radius: 5px;
  border: none;
}

.banner {
  background-image: linear-gradient(to right, rgb(17, 16, 16), rgba(255, 255, 255, 0.034)), url("./assets/banner.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.banner {
  text-align: center;
  position: relative;
}

.banner div {
  color: white;
  text-align: center;
  padding-top: 60px;
}

.banner div h1 {
  font-size: 45px;
  margin-bottom: 25px;
}

.banner-btn {
  background: #1D4ED8;
  color: white;
  position: absolute;
  bottom: 50px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  left: 50%;
  transform: translateX(-50%);
}

.speakers {
  width: 1240px;
  margin: auto;
  padding-bottom: 30px;
}

.speakers h1 {
  text-align: center;
  font-size: 45px;
  margin: 30px 0px;
}
.speakers-cards{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  justify-content: space-between;
  gap: 15px;
}
.sCard {
  width: 100%px;
  height: auto;
  border: 1px solid rgb(209, 206, 206);
  border-radius: 10px;
}

.sCard img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sCard-text{
  padding: 10px 15px;
}
.sCard-text span {
  font-size: 13px;
  color: #2563EB;
}
.sCard-text h3 {
  padding: 10px 0px;
}

.sCard-text p {
  font-size: 14px;
  color: #575757;
}

